    <section class="suite">
      <h1>Test web-server is up and responsible</h1>
      <dl>
        <dt>Accessing pages with auth should have response code 200 and json</dt>
        <dd><pre><code>return request.get(addr).set(&quot;Accept&quot;, &quot;application/json&quot;).set(&quot;Authorization&quot;, &quot;Basic &quot; + new Buffer(auth).toString(&quot;base64&quot;)).end(function(res) {
  res.status.should.eql(200);
  res.text.should.be.json;
  return done();
});</code></pre></dd>
        <section class="suite">
          <h1>Accessing pages without auth should response 401</h1>
          <dl>
            <dt>index</dt>
            <dd><pre><code>return request.get(addr).end(function(res) {
  res.status.should.eql(401);
  return done();
});</code></pre></dd>
            <dt>get cards</dt>
            <dd><pre><code>return request.get(addr + &quot;/cards&quot;).end(function(res) {
  res.status.should.eql(401);
  return done();
});</code></pre></dd>
            <dt>post card</dt>
            <dd><pre><code>return request.post(addr + &quot;/cards&quot;).end(function(res) {
  res.status.should.eql(401);
  return done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>Correct pages response</h1>
          <dl>
            <dt>Index page should contain html header</dt>
            <dd><pre><code>return request.get(addr).set(&quot;Accept&quot;, &quot;application/json&quot;).set(&quot;Authorization&quot;, &quot;Basic &quot; + new Buffer(auth).toString(&quot;base64&quot;)).end(function(res) {
  res.text.should.be.html;
  res.text.should.containEql(&quot;Adidas-running card api&quot;);
  return done();
});</code></pre></dd>
            <section class="suite">
              <h1>Cards page should return cards list</h1>
              <dl>
                <dt>Should return json array by default</dt>
                <dd><pre><code>return request.get(addr + &quot;/cards&quot;).set(&quot;Accept&quot;, &quot;application/json&quot;).set(&quot;Authorization&quot;, &quot;Basic &quot; + new Buffer(auth).toString(&quot;base64&quot;)).end(function(res) {
  var data;
  res.status.should.eql(200);
  res.text.should.be.json;
  data = JSON.parse(res.text);
  data.items.should.be.an.instanceOf(Array);
  data.items[0].should.have.properties([&quot;card_id&quot;, &quot;rfid_number&quot;]);
  return done();
});</code></pre></dd>
<Card $__="[object Object]" isNew="false" errors="undefined" _maxListeners="0" _doc="[object Object]" _pres="[object Object]" _posts="[object Object]" save="function () {
      var self = this
        , hookArgs // arguments eventually passed to the hook - are mutable
        , lastArg = arguments[arguments.length-1]
        , pres = this._pres[name]
        , posts = this._posts[name]
        , _total = pres.length
        , _current = -1
        , _asyncsLeft = proto[name].numAsyncPres
        , _next = function () {
            if (arguments[0] instanceof Error) {
              return handleError(arguments[0]);
            }
            var _args = Array.prototype.slice.call(arguments)
              , currPre
              , preArgs;
            if (_args.length && !(arguments[0] == null && typeof lastArg === 'function'))
              hookArgs = _args;
            if (++_current < _total) {
              currPre = pres[_current]
              if (currPre.isAsync && currPre.length < 2)
                throw new Error("Your pre must have next and done arguments -- e.g., function (next, done, ...)");
              if (currPre.length < 1)
                throw new Error("Your pre must have a next argument -- e.g., function (next, ...)");
              preArgs = (currPre.isAsync
                          ? [once(_next), once(_asyncsDone)]
                          : [once(_next)]).concat(hookArgs);
              return currPre.apply(self, preArgs);
            } else if (!proto[name].numAsyncPres) {
              return _done.apply(self, hookArgs);
            }
          }
        , _done = function () {
            var args_ = Array.prototype.slice.call(arguments)
              , ret, total_, current_, next_, done_, postArgs;
            if (_current === _total) {
              ret = fn.apply(self, args_);
              total_ = posts.length;
              current_ = -1;
              next_ = function () {
                if (arguments[0] instanceof Error) {
                  return handleError(arguments[0]);
                }
                var args_ = Array.prototype.slice.call(arguments, 1)
                  , currPost
                  , postArgs;
                if (args_.length) hookArgs = args_;
                if (++current_ < total_) {
                  currPost = posts[current_]
                  if (currPost.length < 1)
                    throw new Error("Your post must have a next argument -- e.g., function (next, ...)");
                  postArgs = [once(next_)].concat(hookArgs);
                  return currPost.apply(self, postArgs);
                }
              };
              if (total_) return next_();
              return ret;
            }
          };
      if (_asyncsLeft) {
        function _asyncsDone (err) {
          if (err && err instanceof Error) {
            return handleError(err);
          }
          --_asyncsLeft || _done.apply(self, hookArgs);
        }
      }
      function handleError (err) {
        if ('function' == typeof lastArg)
          return lastArg(err);
        if (errorCb) return errorCb.call(self, err);
        throw err;
      }
      return _next.apply(this, arguments);
    }" _events="[object Object]"/>
                <dt>Should return xml if client request it</dt>
                <dd><pre><code>return request.get(addr + &quot;/cards&quot;).send({
  xml: true
}).set(&quot;Accept&quot;, &quot;application/xml&quot;).set(&quot;Authorization&quot;, &quot;Basic &quot; + new Buffer(auth).toString(&quot;base64&quot;)).end(function(res) {
  res.status.should.eql(200);
  res.text.should.be.xml;
  console.log(res.text);
  return done();
});</code></pre></dd>
              </dl>
            </section>
          </dl>
        </section>
        <section class="suite">
          <h1>Adding items</h1>
          <dl>
            <dt>Add new card should response json with status and ID of the added item</dt>
            <dd><pre><code>return request.post(addr + '/cards').send({
  rfid_number: &quot;[0400](130,48782)&quot;,
  card_id: 10000001
}).set(&quot;Accept&quot;, &quot;application/json&quot;).set(&quot;Authorization&quot;, &quot;Basic &quot; + new Buffer(auth).toString(&quot;base64&quot;)).end(function(res) {
  var data;
  res.should.be.json;
  data = JSON.parse(res.text);
  data.should.be.type(&quot;object&quot;);
  data.should.have.property(&quot;status&quot;, &quot;Ok&quot;);
  data.should.exists;
  data.should.be.type(&quot;object&quot;);
  data.should.have.property(&quot;card_id&quot;);
  return done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>Updating items</h1>
          <dl>
          </dl>
        </section>
        <section class="suite">
          <h1>deleting items</h1>
          <dl>
          </dl>
        </section>
      </dl>
    </section>
