doctype html
html
    head
        title Adidas-running card api
    body
        #wrapper
            h1 Adidas-running card api
            p
                | Api ранбазы построено по принципу&nbsp;
                a(href="http://ru.wikipedia.org/wiki/REST", target="_blank") REST
                | , Все ответы приходят в формате JSON
            p Чтобы получить список карт необходимо обратиться по адресу /cards с методом GET (example: [{card_id:0, email:"user@domain.ru"},{card_id:2,email:"user@domain.ru"}])
            p Чтобы получить подробные сведения по карте нужно обратиться с методом GET по адресу /cards/АЙДИ_КАРТЫ
            p Также данные по карте можно получить по email пользателя, к которому привязана карта по адресу /cards/byemail/EMAIL. Формат идентичен получению карты по id
            p Чтобы добавить новую карту нужно обратиться с методом POST по адресу /cards и передать post-параметрами данные: card_id, rfid_number, email (опционально), number (номер на лицевой стороне карты), card_status (опционально)
            p Чтобы обновить данные карты нужно обратиться с методом PUT по адресу /cards/АЙДИ_КАРТЫ и передать post-параметрами данные, которые требуется обновить (список возможных параметров аналогичен добавлению новой карты)
            p Возможные статусы карты:
                ul
                    li 140 - карта не активирована и не привязана
                    li 141 - карта привязана, но не активирована
                    li 142 - карта активна и привязана к пользователю
            p Чтобы добавить заявку нужно обратиться с методом POST на /requests. Принимаемые параметры: name, email, phone. Возвращаемые значения: status, id
            p Получить список заявок - по аналогии обратившись с GET на /requests
            p Получить конкретную заявку GET /requests/:id возвращаемые значения: name, email, phone, card (Айди карты. Если null - не привязана)


            h2 Ниже приведена документация, сформированная библиотекой mocha
            include ../doc.html