mixin menu(list)
    ul
        each link in list
            li
                a(href=link.path)= link.name
                if link.child
                    +menu(link.child)

doctype html
html
    head
        title Admin interface
        link(rel="stylesheet", href="/css/style.css", type="text/css")
        script
            :js
                var conf = !{config};
                var runbases = !{runbases};
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script
            :js
                if(typeof $ == "undefined")
                    document.write('<scr' + 'ipt src="/js/jquery.min.js"></scr' + 'ipt>');
        script(src="/js/riot.min.js")
        script(src="/js/app.js")
        script(src="/js/notify.min.js")
        script(src="/js/jquery.dom.form_params.min.js")

    body
        #search
        #menu
            - var mainMenu = [{name: "Requests", path: "#/requests", child: [{ name: "Unmoderated", path: "#/requests"},{ name: "Add", path: "#/requests/add"}]},{name: "Cards", path: "#/cards", child: [{name: "Free", path: "#/cards"},{name: "For delivery", path: "#/cards/deliveries"},{name:"Add", path: "#/cards/add"},{name:"Bind", path: "#/cards/bind"},{name:"Archive", path: "#/cards/archive"}]},{name: "Runbases", path: "#/runbases"}]
            +menu(mainMenu)

        #data-wrapper

        script#templates-request(type="template/text").
                <td>{id}</td>
                <td>{email}</td>
                <td>{phone}</td>
                <td>{runbaseName}</td>
                <td><a class="control-deny" href="#">Deny</a> <a class="control-approve" href="#">Approve</a></td>

        script#templates-card(type="template/text").
                <td>{number}</td>
                <td>{rfid_number}</td>
                <td>{runbase}</td>
                <td>{card_status}</td>


        script#templates-delivery(type="template/text").
                <td>{card_number}</td>
                <td>{from_name}</td>
                <td>{to_name}</td>
                <td><a href="#" class="delivered">Delivered</td>


        #templates-cards-wrapper.template
            .pagination
                span.prev {pagination.prev}
                span.page &nbsp;Page {pagination.page}&nbsp;
                span.next {pagination.next}
            table.table(border="1px")
                thead
                    tr
                        th number
                        th rfid
                        th runbase
                        th status
                tbody.data-wrapper

        #templates-requests-wrapper.template
            .pagination
                span.prev {pagination.prev}
                span.page &nbsp;Page {pagination.page}&nbsp;
                span.next {pagination.next}
            table.table(border="1px")
                thead
                    tr
                        th id
                        th email
                        th phone
                        th runbase
                        th
                tbody.data-wrapper


        #templates-deliveries-wrapper.template
            table.table(border="1px")
                thead
                    tr
                        th card number
                        th from
                        th to
                        th
                tbody.data-wrapper

        #templates-add-wrapper.template
            .requests-add
                form.file
                    label Upload a file
                    input(type="file")
                    input(type="submit", value="Загрузить")

                form.fields
                    .fields-wr

                    button.addField(type="button") Добавить строку
                    input(type="submit", value="Загрузить")

        #templates-requests-add-field.template
            fieldset
                label(for="name") Name
                input#name(name="name")
                label(for="phone") Phone
                input#phone(name="phone")
                label(for="email") Email
                input#email(name="email")
                label(for="runbase") Runbase
                select#runbase(name="runbase").
                    {runbaseList}

        #templates-cards-add-field.template
            fieldset
                label(for="number") Number
                input#number(name="number")
                label(for="rfid_number") Rfid Number
                input#rfid_number(name="rfid_number")
                label(for="runbase") Runbase
                select#runbase(name="runbase").
                    {runbaseList}

        #templates-bind-wrapper.template
            .bind-wrap
                form.bind
                    input(type="text", name="number", placeholder="card number")
                    input(type="text", name="email", placeholder="email")
                    input(type="text", name="phone", placeholder="phone")
                    input(type="hidden", name="card_status", value="142")
                    input(type="submit")


        script(src="/js/ui.js")
