@font-face {
  font-family: 'adihaus';
  src: url("../fonts/adhcyrr.otf") format('otf');
  src: url("../fonts/adhcyrr.eot");
  src: url("../fonts/adhcyrr.eot?#iefix") format('embedded-opentype'), url("../fonts/adhcyrr.woff") format('woff'), url("../fonts/adhcyrr.ttf") format('truetype'), url("../fonts/sdhcyrr.svg") format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'adihaus';
  src: url("../fonts/adhbold.otf") format('otf');
  src: url("../fonts/adhbold.eot");
  src: url("../fonts/adhbold.eot?#iefix") format('embedded-opentype'), url("../fonts/adhbold.woff") format('woff'), url("../fonts/adhbold.ttf") format('truetype'), url("../fonts/adhbold.svg") format('svg');
  font-weight: bold;
}
@font-face {
  font-family: 'avg65c';
  src: url("../fonts/avg65c.otf") format('otf');
  src: url("../fonts/avg65c.eot");
  src: url("../fonts/avg65c?#iefix") format('embedded-opentype'), url("../fonts/avg65c.woff") format('woff'), url("../fonts/avg65c.ttf") format('truetype'), url("../fonts/avg65c.svg") format('svg');
}
* {
  margin: 0;
  padding: 0;
}
.template {
  display: none !important;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'adihaus', Arial, sans-serif;
  font-size: 14px;
}
body #data-wrapper {
  overflow: hidden;
  padding: 0 15px;
}
body #search {
  float: left;
  overflow: hidden;
  height: 100%;
  width: 30px;
  background: #ccc url("../img/search.png") top right no-repeat;
  background-size: 30px;
  -webkit-transition: 1s ease 0s;
  -moz-transition: 1s ease 0s;
  -o-transition: 1s ease 0s;
  transition: 1s ease 0s;
}
body #search.active {
  width: 300px;
}
body #menu {
  overflow: hidden;
}
body #menu>ul {
  height: 100px;
}
body #menu ul li {
  float: left;
  list-style: none;
}
body #menu ul li a {
  color: #000;
  padding: 10px 30px;
  display: inline-block;
}
body #menu ul li ul {
  position: absolute;
  display: none;
}
body #menu ul li.active {
  background: #eee;
}
body #menu ul li.active>a {
  font-weight: bold;
  text-decoration: none;
}
body #menu ul li.active>ul {
  display: block;
  background: #eee;
}
.table {
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 3px 5px;
}
.requests-add {
  padding: 10px;
}
.requests-add fieldset {
  border: none;
}
.requests-add input,
.requests-add select {
  margin: 5px;
}
form.bind input {
  margin-right: 5px;
}
