adihaus()
  font-family 'adihaus', Arial, sans-serif

avg65c()
  font-family 'avg65c', Arial, sans-serif

@font-face
  font-family 'adihaus'
  src url('../fonts/adhcyrr.otf') format('otf')
  src url('../fonts/adhcyrr.eot')
  src url('../fonts/adhcyrr.eot?#iefix') format('embedded-opentype'), url('../fonts/adhcyrr.woff') format('woff'), url('../fonts/adhcyrr.ttf') format('truetype'), url('../fonts/sdhcyrr.svg') format('svg')
  font-weight normal

@font-face
  font-family 'adihaus'
  src url('../fonts/adhbold.otf') format('otf')
  src url('../fonts/adhbold.eot')
  src url('../fonts/adhbold.eot?#iefix') format('embedded-opentype'), url('../fonts/adhbold.woff') format('woff'), url('../fonts/adhbold.ttf') format('truetype'), url('../fonts/adhbold.svg') format('svg')
  font-weight bold

@font-face
  font-family 'avg65c'
  src url('../fonts/avg65c.otf') format('otf')
  src url('../fonts/avg65c.eot')
  src url('../fonts/avg65c?#iefix') format('embedded-opentype'), url('../fonts/avg65c.woff') format('woff'), url('../fonts/avg65c.ttf') format('truetype'), url('../fonts/avg65c.svg') format('svg')

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

*
  margin 0
  padding 0

.template
  display none !important

html, body
  height 100%

body
  adihaus()
  font-size 14px

  #data-wrapper
    overflow hidden
    padding 0 15px

  #search
    float:left
    overflow hidden
    height 100%
    width 30px
    background #CCC url(../img/search.png) top right no-repeat
    background-size 30px
    vendor(transition, 1s ease 0s)

    &.active
      width 300px


  #menu
    overflow hidden
    &>ul
      height 100px
    ul
      li
        float left
        list-style none
        a
          color #000000
          padding 10px 30px
          display inline-block
        ul
          position absolute
          display none
        &.active
          background #eee
          &>a
            font-weight bold
            text-decoration none
          &>ul
            display block
            background #eee

.table
  border-collapse collapse
  th, td
    padding: 3px 5px

.requests-add
  padding 10px
  fieldset
    border none
  input, select
    margin 5px

form.bind
  input
    margin-right 5px